<div>
    <h1>Real Time Products</h1>

    <h3>Lista de productos</h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Price</th>
                <th>Thumbnail</th>
                <th>Code</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody id="productos-tbody">
        </tbody>
    </table>

    <h2>Agregar Producto</h2>
    <form id="producto-form">
        <label class="titulo" for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" name="descripcion" required>

        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" name="descripcion" required>

        <label for="precio">Price:</label>
        <input type="number" id="precio" name="precio" name="precio" required>

        <label for="thumbnail">Thumbnail:</label>
        <input type="text" id="thumbnail" name="thumbnail" name="thumbnail" required>

        <label for="codigo">Codigo:</label>
        <input type="text" id="codigo" name="codigo" name="codigo" required>

        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" name="stock" required>

        <button type="submit">Agregar Producto</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>